In [2]:
import pathlib
import pandas as pd

In [3]:
input_dir = pathlib.Path("../data/raw")

train = pd.read_csv(input_dir / "train.csv")
revealed_test = pd.read_csv(input_dir / "revealed_test.csv")
test = pd.read_csv(input_dir / "test.csv")
census = pd.read_csv(input_dir / "census_starter.csv")
sample_sabmission = pd.read_csv(input_dir / "sample_submission.csv")

In [4]:
train.head()

,row_id,cfips,county,state,first_day_of_month,microbusiness_density,active
0,1001_2019-08-01,1001,Autauga County,Alabama,2019-08-01,3.007682,1249
1,1001_2019-09-01,1001,Autauga County,Alabama,2019-09-01,2.884870,1198
2,1001_2019-10-01,1001,Autauga County,Alabama,2019-10-01,3.055843,1269
3,1001_2019-11-01,1001,Autauga County,Alabama,2019-11-01,2.993233,1243
4,1001_2019-12-01,1001,Autauga County,Alabama,2019-12-01,2.993233,1243

In [5]:
revealed_test["first_day_of_month"].unique()

array(['2022-11-01', '2022-12-01'], dtype=object)

In [6]:
test["first_day_of_month"].unique()

array(['2022-11-01', '2022-12-01', '2023-01-01', '2023-02-01',
       '2023-03-01', '2023-04-01', '2023-05-01', '2023-06-01'],
      dtype=object)

In [7]:
sample_sabmission["row_id"].apply(lambda x: x.split("_")[1]).unique()

array(['2022-11-01', '2022-12-01', '2023-01-01', '2023-02-01',
       '2023-03-01', '2023-04-01', '2023-05-01', '2023-06-01'],
      dtype=object)

In [8]:
COLS = ['GEO_ID','NAME','S0101_C01_026E']
df2020 = pd.read_csv('../data/external/census-data-for-godaddy/ACSST5Y2020.S0101-Data.csv',usecols=COLS)
df2020 = df2020.iloc[1:]
df2020['S0101_C01_026E'] = df2020['S0101_C01_026E'].astype('int')

df2021 = pd.read_csv('../data/external/census-data-for-godaddy/ACSST5Y2021.S0101-Data.csv',usecols=COLS)
df2021 = df2021.iloc[1:]
df2021['S0101_C01_026E'] = df2021['S0101_C01_026E'].astype('int')

df2020['cfips'] = df2020.GEO_ID.apply(lambda x: int(x.split('US')[-1]) )
adult2020 = df2020.set_index('cfips').S0101_C01_026E.to_dict()

df2021['cfips'] = df2021.GEO_ID.apply(lambda x: int(x.split('US')[-1]) )
adult2021 = df2021.set_index('cfips').S0101_C01_026E.to_dict()

(3221, 3)

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3553: DtypeWarning: Columns (102) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

           GEO_ID                     NAME  S0101_C01_026E
1  0500000US01001  Autauga County, Alabama           42496
2  0500000US01003  Baldwin County, Alabama          171296
3  0500000US01005  Barbour County, Alabama           19804
4  0500000US01007     Bibb County, Alabama           17790
5  0500000US01009   Blount County, Alabama           44383