In [23]:
import numpy as np
import pandas as pd

from datetime import timedelta, datetime

In [72]:
train = pd.read_parquet("../data/working/transactions_train.parquet")
train["t_dat"] = pd.to_datetime(train["t_dat"])

In [73]:
train.head()

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2

## Create Prediction

In [74]:
base_date = "2020-09-22"
train_end_date = datetime.strptime(base_date, '%Y-%m-%d')
train_start_date = train_end_date - timedelta(days=7)

In [75]:
# 直近一週間にデータを絞る
train = train[(train["t_dat"] <= train_end_date) & (train["t_dat"] > train_start_date)]

In [76]:
train.head()

,t_dat,customer_id,article_id,price,sales_channel_id
31548013,2020-09-16,000fb6e772c5d0023892065e659963da90b1866035558e...,786022008,0.048441,2
31548014,2020-09-16,000fb6e772c5d0023892065e659963da90b1866035558e...,913272003,0.032288,2
31548015,2020-09-16,000fb6e772c5d0023892065e659963da90b1866035558e...,889669006,0.056508,2
31548016,2020-09-16,0010e8eb18f131e724d6997909af0808adbba057529edb...,237347060,0.033881,1
31548017,2020-09-16,0010e8eb18f131e724d6997909af0808adbba057529edb...,562245001,0.013542,1

In [119]:
def most_popular_articles(data: pd.DataFrame):
    article_cnt = data["article_id"].value_counts().sort_values(ascending=False)
    popular_articles = article_cnt[:12]
    return popular_articles.index

In [120]:
result = most_popular_articles(train)

## Submission

In [121]:
sub = pd.read_csv("../data/raw/sample_submission.csv")

In [122]:
sub["prediction"] = ' 0'.join(result.astype(str))

In [125]:
sub.to_csv("../data/submit/00100.csv", index=False)
sub.head()

,customer_id,prediction
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,924243001 0924243002 0918522001 0923758001 086...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,924243001 0924243002 0918522001 0923758001 086...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,924243001 0924243002 0918522001 0923758001 086...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,924243001 0924243002 0918522001 0923758001 086...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,924243001 0924243002 0918522001 0923758001 086...